<div class="component-container">
  <p class="component-title">Polo {{ record()?.name }}</p>
  <p class="component-subtitle">
    exibindo detalhes do polo {{ record()?.name }}#{{ record()?.id }}
  </p>
  <form [formGroup]="businessForm" (ngSubmit)="onSubmit($event)">
    <div class="p-4 custom-card">
      <div class="form-group d-flex justify-content-between">
        <input type="hidden" id="id" formControlName="id" />
        <p>Detalhes do Endereço</p>
        <div class="field-row">
          <div class="mr-3">
            <app-cep [formGroup]="businessForm" controlName="cep"></app-cep>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Nome da Rua</mat-label>
              <input
                readonly
                matInput
                type="text"
                formControlName="nomeDaRua" />
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input readonly matInput type="text" formControlName="bairro" />
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <input readonly matInput type="text" formControlName="estado" />
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input readonly matInput type="text" formControlName="cidade" />
            </mat-form-field>
          </div>
        </div>
        <p>Detalhes da Empresa</p>
        <div class="field-row">
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                required />
              @if((businessForm.get('name')?.dirty ||
              businessForm.get('name')?.touched) &&
              businessForm.get('name')?.invalid){
              <mat-error>Name is required.</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Business</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                id="business"
                formControlName="business"
                required />
              @if((businessForm.get('business')?.dirty ||
              businessForm.get('business')?.touched) &&
              businessForm.get('business')?.invalid){
              <mat-error>Business is required.</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Valuation</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                id="valuation"
                formControlName="valuation"
                required
                mask="separator.2"
                thousandSeparator="."
                decimalMarker=","
                prefix="R$ " />
              @if((businessForm.get('valuation')?.dirty ||
              businessForm.get('valuation')?.touched) &&
              businessForm.get('valuation')?.invalid){
              <mat-error>
                Valuation is required and must be a valid number.
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>CNPJ</mat-label>
              <input
                matInput
                type="text"
                id="cnpj"
                formControlName="cnpj"
                mask="AA.AAA.AAA/AAAA-00"
                required />
            </mat-form-field>
            @if((businessForm.get('cnpj')?.dirty ||
            businessForm.get('cnpj')?.touched) &&
            businessForm.get('cnpj')?.invalid){
            <mat-error class="text-danger"> CNPJ is not valid. </mat-error>
            }
          </div>
          <div class="mr-3">
            <mat-form-field appearance="outline">
              <mat-label>Active</mat-label>
              <mat-select id="active" formControlName="active">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button class="back-button" (click)="navigateToRoot()" mat-flat-button>
          Voltar
        </button>
        <button
          class="save-button"
          type="submit"
          [disabled]="businessForm.invalid"
          mat-flat-button>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
