.table-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  table {
    width: 100%;
    background-color: white;

    .mat-mdc-header-row {
      background-color: white;
      color: gray;
    }
    .mat-mdc-cell {
      color: #444444;
      border-bottom-color: #f5f5f5;
      border-width: 2px;
    }
    .name-column {
      font-weight: bold;
    }
    .mat-header-cell {
      text-align: center;
    }
    .actions-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: inherit;
      gap: 8px;
      mat-icon {
        cursor: pointer;
      }
    }
  }
}
.mat-mdc-paginator {
  background-color: white;
  color: gray !important;
}
.mat-mdc-select {
  background-color: white;
  color: black !important;
}
.mat-mdc-paginator-range-actions {
  color: black !important;
}
::ng-deep
  .mat-mdc-select
  .mat-mdc-select-trigger
  .mat-mdc-select-value
  .mat-mdc-select-value-text
  .mat-mdc-select-min-line {
  color: #444444 !important;
}
.active-circle {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.inactive-circle {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

::ng-deep .mat-sort-header-arrow {
  color: black; /* Change this to your desired color */
}

::ng-deep .mat-sort-header-arrow .mat-sort-header-stem {
  background-color: black; /* Change this to your desired color */
}

::ng-deep .mat-sort-header-arrow .mat-sort-header-indicator {
  color: black; /* Change this to your desired color */
}

.success-snackbar {
  background-color: green;
  color: white;
}
.error-snackbar {
  background-color: red;
  color: white;
}

.create-button {
  background-color: #004388;
  color: white;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  margin: 4px;
}
